<!-- This is a sample launch file, please change it based on your needs -->
<launch>

  <group ns="drone0">
    <param name="tf_prefix" value="drone0"/>
    <include file="$(find ardrone_autonomy)/launch/ardrone.launch" >
      <arg name="drone_ip" value="192.168.2.10"/>
    </include>
  </group>

  <group ns="drone1">
    <param name="tf_prefix" value="drone1"/>
    <include file="$(find ardrone_autonomy)/launch/ardrone.launch" >
      <arg name="drone_ip" value="192.168.2.14"/>
    </include>
  </group>
</launch>

